@color-back: #e8f5e9;
@color-fore: #1b5e20;

@color-control-back: #e8f5e9;
@color-control-hover: #c8e6c9;
@color-control-active: #81c784;
@color-control-fore: #1b5e20;
@color-control-fore-inactive: #388e3c;

@color-input-back: #e8f5e9;
@color-input-hover: #c8e6c9;
@color-input-active: #c8e6c9;
@color-input-fore: #1b5e20;
@color-input-fore-active: #1b5e20;
@color-input-fore-placeholder: #388e3c;

@color-border: #81c784;
@color-heading: #2e7d32;
@color-error: #c62828;
@color-ok: #2e7d32;
@color-ok-fore: #4caf50;
@color-selection-back: #81c784;
@color-selection-fore: #1b5e20;

@font-family: Open Sans, Segoe UI, Helvetica Neue, Ubuntu, sans-serif;

@size-border: 0.125rem;
@size-border-inner: 0.0625rem;
@size-control-inner: 1.5rem;
@size-control-description: 0.75rem;
@size-scrollbar-padding: 0.25rem;
@size-scrollbar-thickness: 0.75rem;
@size-text-normal: 0.75rem;
@size-text-normal-height: 1rem;
@size-text-small: 0.625rem;
@size-text-small-height: 0.875rem;
@size-text-large: 0.875rem;
@size-text-large-height: 1rem;

@indent-large: 0.75rem;
@indent-small: 0.5rem;

@time-fast: 125ms;
@time-slow: 250ms;
